@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Quick links to most used functions</h2>
        <ul>
            <li><a href="#">Dummy link 1</a></li>
            <li><a href="#">Dummy link 2</a></li>
            <li><a href="#">Dummy link 3</a></li>
        </ul>
    </div>
</div>
